# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL= 'mysql://avnadmin:AVNS_NQeglmyHofm1m4BlyXa@mysql-202c7f84-phamdung260510-1667.f.aivencloud.com:24026/defaultdb?ssl-mode=REQUIRED'
JWT_SIGNATURE=secret123456789
FRONTEND_URL=http://localhost:3000
PORT=3300
JWT_SECRET_KEY='JWT_SECRET_KEY'

METAMASK_MESSAGE_CONFIG='Welcome To Marketplace'
